<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dealership Review</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

    <body>

    <!--Add a nav bar here -->
    <nav class="navbar navbar-expand-lg bg-light ">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'djangoapp:index' %}">Obi's Dealerships </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse " id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'djangoapp:about' %}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="{% url 'djangoapp:contact' %}">Contact Us</a>
              </li>                 
            </ul>
          </div>
        
        {% if user.is_authenticated %}
        <div>
          <b >{{user.username}}</b>
          <a  class="btn btn-outline-primary text-end px-2" href=" {% url 'djangoapp:logout' %}">Sign Out</a>              
        </div>        
        {% else %}
        <form class="d-flex px-2" role="search" action="{% url 'djangoapp:login' %}" method="POST">
            {% csrf_token %}                 
            <input class="form-control me-2" type="username" placeholder="username" name="username">
            <input class="form-control me-2" type="password" placeholder="password" name="psw">
            <button class="btn btn-primary" type="submit" >Login</button>
          </form>
          <a  class="btn btn-outline-primary text-end me-2" href="{% url 'djangoapp:registration' %}">Sign Up</a>
        {% endif %}
        </div>  
      </nav>          
      <hr>
    <!-- Add reviews as cards -->
    {% for reviews in reviews_list %}
    {{reviews.name}}
    
    {% endfor %}

    </body>

</html>